<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/aston_demo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">vano2810</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.generate_statistics">true</property>

        <!--    Second level cache    -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
        <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>

        <mapping class="ru.aston.hw4.entity.Book"/>
        <mapping class="ru.aston.hw4.entity.Author"/>
        <mapping class="ru.aston.hw4.entity.Genre"/>
        <mapping class="ru.aston.hw4.entity.Article"/>
    </session-factory>
</hibernate-configuration>

